<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .be-bold {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>All comments</h1>
    <a href="/">Back home</a>
    <ul>
      <% for ({ id, username, comment } of comments) { %>
      <li>
        <span class="be-bold"><%= username %></span>: 
        <br />
        <a href="/comments/<%= id %>"><%= comment %></a>
        <a href="/comments/<%= id %>/edit"><button type="button">Edit</button></a>
      </li>
      <% } %>
    </ul>
    <a href="/comments/new">Add new comment</a>
  </body>
</html>
