- const name = 'Brian';
- const names = ['a', 'b', 'c'];

doctype html
html(lang='en')
    head
    title Template Pub
    body
    h1 node template engine
    #container.col
        p hello #{name}
    each n in names
        li= n
    
