html {
    font-size: 20px;
}

section {
    width: 400px;
    height: 400px;
    background-color: palegoldenrod;
}

.cube {
    width: 50%;
    height: 50%;
    background-color: palevioletred;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

.em {
    font-size: 20px;
}

#oneEM {
    font-size: 1em;
}

#twoEM {
    font-size: 2em;
} 

button {
    font-size: 2em;
    padding: 0 1.5em;
    border-radius: 2em;
    background-color: brown;
    color: white;
}

ul {
    font-size: 1.5em;
}

.rems h2 {
    font-size: 3rem;
}

.rems h3 {
    font-size: 2rem;
}

.rems ul {
    font-size: 1rem;
}

#kimochi {
    font-size: 4rem;
    background-color: #d31212;
}