<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>This is the Homepage!</h1>
    <p>Current date time: <%= new Date() %> </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed doloremque iusto beatae facere quia mollitia, animi iste. Quidem esse assumenda ab similique libero iusto nulla obcaecati, culpa, aspernatur eius vitae.
    Facilis, sequi a, blanditiis odit omnis nobis velit delectus pariatur facere, nam corrupti rerum quos explicabo magnam nihil cupiditate inventore quaerat labore molestiae fugiat quia dolor exercitationem! Nulla, minus voluptates!
    Natus eum porro ullam exercitationem eos quasi rem optio, explicabo corporis sunt quod at dicta voluptatem numquam pariatur labore praesentium enim mollitia vel! Animi placeat sunt laboriosam esse magnam deleniti?
    Quisquam, veritatis quam unde at voluptatem aliquam neque dicta optio ducimus deserunt temporibus voluptatibus necessitatibus odit, consectetur minus vel esse autem ea iure corrupti doloremque nemo molestiae! Ab, sint explicabo.
    Temporibus officiis nihil, sit nesciunt ipsam perferendis! Et non totam doloremque qui enim. Aspernatur ullam ducimus recusandae nobis nihil minima doloremque modi rerum, vero in cum repellat illo excepturi sapiente!
    </p>
    <a href="/lucky">Lucky number</a>
</body>
</html>