@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora&family=Merriweather&family=Montserrat:ital,wght@0,600;0,700;1,400&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.cdnfonts.com/css/helveticaneue-2?styles=15761,30115,30116,30117');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

/* Lora different font weights */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fffcf9;
    --secondary-color: #f9f5f1;
    --primary-dark-color: #222325;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Helvetica', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Helvetica Neue', sans-serif; */
    font-family: 'Lora', serif;
}

/* customize Bootstrap elements */
/* https://stackoverflow.com/questions/55849635/how-to-change-the-primary-color-of-the-react-built-in-bootstrap */
.btn-primary {
    background-color: var(--primary-color);
    color: var(--primary-dark-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.form-control:focus {
    border-color: #b5c4c1;
    box-shadow: 0 0 0 0.1rem #d8e7e4;
}
