h1 {
    margin: 20px auto;
    text-align: center;
    margin: 50px;
}

.container {
    position: relative;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* align-content: space-between; */
}

.container div {
    /* width: 100px; */
    height: 100px;
    display: flex;
    font-size: 2em;
    /* text-align: center; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
}

div:nth-of-type(1) {
    flex-grow: 2;
    flex-shrink: 2;

}

div:nth-of-type(2) {
    /* align-self:flex-end; */
    flex-shrink: 0;
    /* flex-shrink: 1; */
}

div:nth-of-type(3) {
    align-self: flex-start;
}

div:nth-of-type(5) {
    align-self: center;
} 


main {
    display: flex;
    width: 90%;
    height: 300px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: column ; */
}

main .sidebar {
    background: blue;
    /* border: 1px solid white; */
    flex: 1 300px;
}

main .main-content {
    background-color: #fa7373;
    flex: 2 600px;
}