<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP SECRET</title>
</head>
<body>
    <%- include('navbar', { user_id }) %>
    <h1>TOP SECRET PAGE</h1>
    <p>Welcome back, agent <%= user.username %></p>
</body>
</html>