@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,900;1,100;1,500&display=swap');

body {
    width: 70%;
    margin: 0 auto;
    font-family: 'Lora', serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;
}

p {
    font-weight: 400;
}

h1, h2 {
    margin-top: 10px;
    margin-bottom: 0;
}