<section>
    <h1>Get vs Post</h1>
    <div>Sushi shop</div>

    <h3>GET</h3>
    <form action="/sushi" method="get">
        <label for="">Type</label>
        <input type="text" name="type">
        <label for="">Quantity</label>
        <input type="text" name="qty">
        <button>Submit</button>
    </form>

    <h3>POST</h3>
    <form action="/sushi" method="post">
        <label for="">Type</label>
        <input type="text" name="type">
        <label for="">Quantity</label>
        <input type="text" name="qty">
        <button>Submit</button>
    </form>
</section>